{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="page-header text-center">
    <h1>Never Ever</h1>
    <p class="lead">Play never have I ever. Wherever you are.</p>
</div>

<div class="text-center">
<a href="/play" class="btn btn-primary btn-lg">Play</a></br></br>
<a href="/new-statement" class="btn btn-default">New Statement</a></br></br>
</div>

<div class="panel-footer">
    <p>Currently, there
    {% if nSessions %}
        {% if nSessions >= 1 %}is{% else %}are{% endif %}
        {{ nSessions }} active session{% if nSessions >= 1 %}s{% endif %}
    {% else %}
        No active sessions
    {% endif %}
        , with
    {% if nPlayers %}
        {{ nPlayers }} player{% if nPlayers >= 1 %}s{% endif %}.
    {% else %}
        no players. :(
    {% endif %}
    </p>
</div>
{% endblock %}
