{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block body_block %}

    {% if sid %}
        <br /> <b>Session ID:</b> {{ sid }}
        <br /> <b>Session state:</b> {{ session }}
        {% if nPlayers %}
            <br /><b>{{ nPlayers }}</b> player(s) in this session
        {% else %}
            <br />No nPlayers provided
        {% endif %}
        {% if categories %}
            <br /><b>Categories:</b>
            {% for cat in categories %}
                {{ cat.name }},
            {% endfor %}
            <br />
        {% endif %}
        {% if statement %}
            <br /><b>Statement:</b> I have never... {{ statement.title }}
        {% endif %}
    {% endif %}

        {% if no_more_statements %}
            <b>No more statements to display. Please add more categories. If all categories were used please start a new game</b>
        {% else %}
            <br />
            <form id="answer_form" method="post" action="/play/">
                {% for form in forms %}
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
                {% endfor %}
            <input type="submit">
            </form>

            <!--<br /><a href="{% url 'play' %}">Next Question</a>-->
        {% endif %}
    <br /><a href="{% url 'play_summary' %}">End Game</a>
    <br /><a href="{% url 'play_options' %}">Options</a>
{% endblock %}