<p class="text-muted">
    Currently, there
    {% if nSessions %}
        {% if nSessions > 1 %}are{% else %}is{% endif %}
        {{ nSessions }} active session{% if nSessions > 1 %}s{% endif %}
    {% else %}
        are no active sessions
    {% endif %}
        , with
    {% if nPlayers %}
        {{ nPlayers }} player{% if nPlayers > 1 %}s{% endif %}
    {% else %}
        no players
    {% endif %}
    <!-- loading animation -->
    <span class="one">.</span><span class="two">.</span><span class="three">.</span>​
</p>