{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/bootstrap-switch.css" %}" />
{% endblock %}

{% block title %} - add statement{% endblock %}

{% block body_block %}
    <h1>add a new statement</h1>
    <p class="lead">You can add your own statements. Just complete the sentence and select categories.</p>

    <form id="statement_form" method="post" action="{% url 'new_statement' %}">
            {% csrf_token %}

            {% for field in form.visible_fields %}
                {% if field.name == "title" %}
                    <div id="sub-heading">
                        <h4><span class="glyphicon glyphicon-pencil"></span></h4>
                        <h2>enter your statement</h2>
                    </div>
                    <div class="container row-spacing">
                      <div class="add-container text-left">
                          {{ field.help_text }}...
                          <input type="text" class="form-control new-statement" id="{{ field.auto_id }}" placeholder="added a new statement.">
                      </div>
                    </div>
                {% endif %}
                {% if field.name == "nsfw" %}
                     <div class="container row-spacing">
                        <div id="sub-heading">
                            <h4><span class="glyphicon glyphicon-eye-close"></span></h4>
                            <h2>classify your statement</h2>
                        </div>
                         Adult (NSFW) or clean (SFW) content:
                         <input id="{{ field.auto_id }}" name="{{ field.html_name }}" type="checkbox">
                     </div>
                {% endif %}
                {% if field.name == "categories" %}
                <div class="container">
                    <div id="sub-heading">
                        <h4><span class="glyphicon glyphicon-tags"></span></h4>
                        <h2>select categories</h2>
                    </div>
                    Please choose all applicable categories:
                    {{ field }}
                </div>
                {% endif %}
            {% endfor %}

            <div class="container">
                <div class="row row-spacing-top">
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-lg btn-ne-add"/>
                </div>
                <div class="row row-spacing">
                    <a href="{% url 'index' %}" class="btn btn-default btn-ne-add">Return to Main Page</a>
                </div>
            </div>
    </form>
{% endblock %}

{% block footer_block %}
    <!-- Switch -->
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script>
        $('input:checkbox').bootstrapSwitch();
        $('input:checkbox').bootstrapSwitch('size','small');
        $("[name='nsfw']").bootstrapSwitch('onText','NSFW');
        $("[name='nsfw']").bootstrapSwitch('offText','SFW');
    </script>
{% endblock %}