{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/summary.css" %}" />
{% endblock %}

{% block title %} - summary{% endblock %}

{% block body_block %}
    <h1>game statistics</h1>
    <p class="lead">Stats about your current game and player(s).</p>

    <div class="container row-spacing">
        <div class="sub-heading">
          <h4><span class="glyphicon glyphicon-heart-empty"></span></h4>
          <h2>thank you for playing</h2>
        </div>
        <div class="container text-justify">We hope you enjoyed. As to dismantle social taboos, however, we would like
            to ask you for some information on yourself. Not to worry though, everything is anonymous!</div>
        <div class="add-container">

        </div>
    </div>

    <form id="player_form" method="post" action="">
        <div class="neverever-box">
            {% for player_name, form in player_forms %}
                {% csrf_token %}
                <div class="container info-box-outer">
                    <h4><strong>{{ player_name }}</strong></h4><br>
                    {% for field in form.visible_fields %}
                        <div class="container info-box">
                            <div class="container info-text inline">{{ field.help_text }}</div>
                            <div class="container info-field inline">{{ field }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="container text-center">
            <div class="row row-spacing-top">
                <input type="submit" name="submit" value="End Game" class="btn btn-primary btn-lg btn-ne-add"/>
            </div>
            <div class="row row-spacing">
                <a href="{% url 'play' %}" class="btn btn-default btn-ne-add">Continue Playing</a>
            </div>
        </div>
    </form>

    <div class="container row-spacing">
        <div class="sub-heading">
          <h4><span class="glyphicon glyphicon-star"></span></h4>
          <h2>and the winner is...</h2>
        </div>
        Let's see who has done the most weird stuff in their lifes:
        <div class="add-container">
            {% if player_total_yes_no %}
                {% for player in player_total_yes_no %}
                    <strong>{{ player.player }}</strong>
                    has done {{ player.total_yes }} out of {{ player.total }} statements.<br>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="container row-spacing">
        <div class="sub-heading">
          <h4><span class="glyphicon glyphicon-stats"></span></h4>
          <h2>all your answered statements</h2>
        </div>
        You probably don't want a full recap of what you've just admitted, but here it is nonetheless:
        {% if statement_data %}
            <div class="neverever-box text-left">
                <table class="table table-condensed">
                    <tr>
                        <th>Statement</th><th>Done It</th><th>Game Answers</th><th>Global Answers</th><th></th>
                    </tr><tbody>
                    {% for statement, data, total_yes, total_no in statement_data %}
                        <tr class="light-line">
                            <td>Never have I ever <strong>{{ statement }}</strong></td>
                            <td>
                                {% for answer in data.answers %}
                                    {% if answer.answer %}
                                        {{ answer.player }}<br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                {% widthratio data.yes data.total 100 as percentGame %}
                                {{ percentGame }}%
                            </td>
                            <td class="text-center">
                                {% widthratio total_yes total_yes|add:total_no 100 as percentTotal %}
                                {{ percentTotal }}%
                            </td>
                            <td>
                                <!-- Django problem with < or > operations with percentGame being 100 -->
                                {% widthratio data.yes data.total 99 as percentGame %}
                                {% if percentGame < percentTotal %}
                                    <span class="glyphicon glyphicon-remove"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-ok text-primary"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody></table>
            </div>
        {% else %}
            <div class="neverever-box text-center"><br><strong>Well, you have to play first!</strong></div>
        {% endif %}
    </div>
{% endblock %}