{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/bootstrap-switch.css" %}" />
    <link rel="stylesheet" href="{% static "css/play.css" %}" />
{% endblock %}

{% block title %} - play{% endblock %}

{% block body_block %}
    {% if sid %}
        {% if statement %}
            <div class="statement statement-outer text-left jumbotron">
                <h3>Never have I ever...</h3>
                <div class="statement statement-inner text-center">
                    <h2><b>{{ statement.title }}</b></h2>
                </div>
            </div>
            <div class="statement text-right">
                {% for cat in statement.categories.all %}
                  <div class="label label-default">{{ cat.name }}</div>
                {% endfor %}
                {% if statement.nsfw %}
                    <div class="label label-warning">NSFW</div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    {% if no_more_statements %}
        <div class="container-fluid text-center">
            <p class="bg-warning warning-spacing"><b class="warning-head">Sorry! :(</b><br>
                <b>There are no more statements to display.You played through all of them.</b><br>
                Please select more categories, start a new game, or add statements yourself!</p>
        </div>
    {% else %}
        <div id="answer_zone">
        <form id="answer_form" method="post" action="/play/">
            {% for form, player in formlist %}
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="container row-spacing">
                    <span class="player-name">
                        {% if player.name != null %} 
                            {{ player.name }}
                        {% else %}
                            <div class="editable_name" contenteditable="false" data-playernum="{{ player.stamp }}" data-toggle="popover" title="What's your name?"
                            data-content="Click to enter your name, then press return to save!" data-trigger="hover" data-placement="top">
                                    Player {{ player.stamp }} <span class="glyphicon glyphicon-pencil weak-glyph"></span>
                            </div>
                        {% endif %}
                    </span>
                    <input id="{{ field.auto_id }}" name="{{ field.html_name }}" type="checkbox">
                </div>
                {% endfor %}
            {% endfor %}
            <div class="container row-spacing">
                <input class="btn btn-primary btn-lg center-block" type="submit" value="Next Statement">
            </div>
        </form>
    </div>
    {% endif %}

    <div class="container-fluid">
            <div class="text-left inline">
                <button id="add_button" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span> Add Player</button>&nbsp;
                <!--below section adds in the like button-->
                <button id="likes" data-title="{{statement.title}}" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                </button>
            </div>
            <div class="text-right inline">
                <a href="{% url 'play_options' %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-cog"></span> Options</a>&nbsp;
                <a href="{% url 'play_summary' %}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-stats"></span> Your Stats</a>
            </div>
    </div>
{% endblock %}

{% block footer_block %}
    <!-- AJAX -->
    <script src="{% static "js/neverever-ajax.js" %}"></script>
    <!-- Switch -->
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script>$('input:checkbox').bootstrapSwitch();</script>
    <script>$('input:checkbox').bootstrapSwitch('onText','Yeah');</script>
    <script>$('input:checkbox').bootstrapSwitch('offText','Nope');</script>
    {% if nPlayers >= 6 %}
        <script>$('#add_button').prop('disabled', true);</script>
    {% endif %}
{% endblock %}