{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/bootstrap-switch.css" %}" />
{% endblock %}

{% block title %} - game options{% endblock %}

{% block body_block %}
    <h1>game options</h1>
    <p class="lead">Change the game's categories and allow adult content.</p>

    <form id="category_form" method="post" action="{% url 'play_options' %}">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% if field.name == "nsfw" %}
                 <div class="container row-spacing">
                    <div class="sub-heading">
                        <h4><span class="glyphicon glyphicon-eye-close"></span></h4>
                        <h2>enable adult content</h2>
                    </div>
                     Enable NSFW (adult content) statements:<br>
                     <div class="switch-box">
                        <input id="{{ field.auto_id }}" name="{{ field.html_name }}" type="checkbox">
                     </div>
                 </div>
            {% endif %}
            {% if field.name == "categories" %}
                <div class="sub-heading">
                    <h4><span class="glyphicon glyphicon-tags"></span></h4>
                    <h2>select categories</h2>
                </div>
                {% if field.errors %}
                    <div class="add-container alert alert-danger text-center" role="alert">
                        <strong>Ups!</strong> Please select at least one category.
                    </div>
                {% endif %}
                Please choose your preferred categories:
                <div class="neverever-box ne-box-adjust text-center">
                    {% for cat in form.categories.field.choices %}
                        <div class="switch-box text-left">
                            {{ cat.1 }}<br>
                            <input id="id_categories_{{ cat.0 }}"
                                   {% if cat.0 in field.value %}checked="checked"{% endif %}
                                   name="categories" value="{{ cat.0 }}" type="checkbox">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endfor %}
        <br>
        <div class="container">
            <div class="row row-spacing-top">
                <input type="submit" name="submit" value="Save Changes" class="btn btn-primary btn-lg btn-ne-add"/>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row row-spacing">
            <a href="{% url 'play' %}" class="btn btn-default btn-ne-add">Cancel</a>
        </div>
    </div>
{% endblock %}

{% block footer_block %}
    <!-- Switch -->
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script src="{% static "js/switch-buttons.js" %}"></script>
    <script src="{% static "js/nsfw-button.js" %}"></script>
{% endblock %}