{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block title %} - summary{% endblock %}

{% block body_block %}
    <form id = "player_form" method = "post" action = "">
        {% for player_name, form in player_forms %}
            <b>{{ player_name }}</b>
        {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
        <br />
        {% endfor %}
        <br/>
    <input type="submit", value="End Game">

    </form>

    {% if player_total_yes_no %}
        <h3>Players</h3>
        {% for player in player_total_yes_no %}
            {{ player.player }}: {{ player.total_yes }} 'Yes' ; {{ player.total_no }} 'No'.
            (Total: {{ player.total }})
            <br />
        {% endfor %}
    {% endif %}

    {% if player_answers %}
        <br /><b>Answers</b><br />
        {% for answers in player_answers %}
            {% for answer in answers %}
                {% if answer.player.name %}
                    {{ answer.player.name }}
                {% else %}
                    Player {{ answer.player.stamp }}
                {% endif %}
                answered {{ answer.answer }} for "{{ answer.statement }}" <br />
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if statement_data %}
        <h3>Statements</h3>
        {% for statement, data in statement_data %}
            <b>"Never have I ever {{ statement }}":</b>
            {{ data.yes}} answered "Yes", {{ data.no }} answered "No" (Total: {{ data.total }})<br />
            {% for answer in data.answers %}
                 - {{ answer.player }} answered
                {% if answer.answer %}
                    "Yes"
                {% else %}
                    "No"
                {% endif %}
                <br />
            {% endfor %}
            <br />
        {% endfor %}
    {% endif %}

    <br><a href="{% url 'play' %}">I want to keep playing</a>
{% endblock %}