{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/summary.css" %}" />
{% endblock %}

{% block title %} - summary{% endblock %}

{% block body_block %}
    <h1>game statistics</h1>
    <p class="lead">Stats about your current game and player(s).</p>

    <div class="container row-spacing">
        <div class="sub-heading">
          <h4><span class="glyphicon glyphicon-heart-empty"></span></h4>
          <h2>thank you for playing</h2>
        </div>
        <div class="container text-justify">We hope you enjoyed. As to dismantle social taboos, however, we would like to ask you for some information on yourself.
        Not to worry though, everything is anonymous!</div>
        <div class="add-container">

        </div>
    </div>
    <form id="player_form" method="post" action="">
        {% for player_name, form in player_forms %}
            {% csrf_token %}
            <strong>{{ player_name }}</strong><br>
            {% for field in form.visible_fields %}
                {% if field.errors %}
                  <div class="alert alert-danger text-center" role="alert">
                      <strong>Ups!</strong> You entered wrong information.
                  </div>
                {% endif %}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}
        <br>
        {% endfor %}
        <div class="container">
            <div class="row row-spacing-top">
                <input type="submit" name="submit" value="End Game" class="btn btn-primary btn-lg btn-ne-add"/>
            </div>
            <div class="row row-spacing">
                <a href="{% url 'play' %}" class="btn btn-default btn-ne-add">Continue Playing</a>
            </div>
        </div>
    </form>

    <div class="container row-spacing">
        <div class="sub-heading">
          <h4><span class="glyphicon glyphicon-sunglasses"></span></h4>
          <h2>and the winner is...</h2>
        </div>
        Let's see who has done the most weird stuff in their lives.
        <div class="add-container">
            <span class="glyphicon glyphicon-star"></span>
            {% if player_total_yes_no %}
                {% for player in player_total_yes_no %}
                    <strong>{{ player.player }}</strong>
                    has done {{ player.total_yes }} out of {{ player.total }} statements.<br>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    {% if player_answers %}
        <br /><b>Answers</b><br />
        {% for answers in player_answers %}
            {% for answer in answers %}
                {% if answer.player.name %}
                    {{ answer.player.name }}
                {% else %}
                    Player {{ answer.player.stamp }}
                {% endif %}
                answered {{ answer.answer }} for "{{ answer.statement }}" <br />
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if statement_data %}
        <h3>Statements</h3>
        {% for statement, data, total_yes, total_no in statement_data %}
            <b>"Never have I ever {{ statement }}":</b>
            {{ data.yes}} answered "Yes", {{ data.no }} answered "No" (Total: {{ data.total }})<br />
            ({{ total_yes }} Global Yes, {{ total_no }} Global No) <br />
            {% for answer in data.answers %}
                 - {{ answer.player }} answered
                {% if answer.answer %}
                    "Yes"
                {% else %}
                    "No"
                {% endif %}
                <br />
            {% endfor %}
            <br />
        {% endfor %}
    {% endif %}

    <div class="container row-spacing">
        <div class="sub-heading">
          <h4><span class="glyphicon glyphicon-stats"></span></h4>
          <h2>all your answered statements</h2>
        </div>
        You probably don't want a full recap of what you've just admitted, but here it is nonetheless:
        <div class="add-container">
            {% if statement_data %}
                {% for statement, data in statement_data %}
                    <b>"Never have I ever {{ statement }}":</b>
                    {{ data.yes}} answered "Yes", {{ data.no }} answered "No" (Total: {{ data.total }})<br />
                    {% for answer in data.answers %}
                         - {{ answer.player }} answered
                        {% if answer.answer %}
                            "Yes"
                        {% else %}
                            "No"
                        {% endif %}
                        <br />
                    {% endfor %}
                    <br />
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}