{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/bootstrap-switch.css" %}" />
{% endblock %}

{% block title %} - play{% endblock %}

{% block body_block %}
    {% if sid %}
        {% if statement %}
            <div class="container">
                <h2>Never have I ever <b>{{ statement.title }}</b></h2>
                <div class="row label-spacing">
                    {% for cat in statement.categories.all %}
                      <div class="label label-default">{{ cat.name }}</div>
                    {% endfor %}
                    {% if statement.nsfw %}
                        <div class="label label-warning">NSFW</div>
                    {% endif %}

                    <!--below section adds in the like button-->
                    <button id="likes" data-title="{{statement.title}}" class="btn btn-info btn-xs" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like
                    </button>
                </div>
            </div>
        {% endif %}
    {% endif %}


    {% if no_more_statements %}
        <div class="container-fluid text-center">
            <p class="bg-warning warning-spacing"><b class="warning-head">Sorry! :(</b><br>
                <b>There are no more statements to display.You played through all of them.</b><br>
                Please select more categories, start a new game, or add statements yourself!</p>
        </div>
    {% else %}
        <div id="answer_zone">
        <form id="answer_form" method="post" action="/play/">
            {% for form, player in formlist %}
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="container row-spacing">
                    <span class="player-name">
                        {% if player.name != null %} 
                            {{ player.name }}
                        {% else %}
                            <div class="editable_name" contenteditable = "false" data-playernum="{{ player.stamp }}" data-toggle="popover" title="what's your name?"
                            data-content="Click to enter your name, then press return to save!" data-trigger="hover" data-placement="top">
                                    player {{ player.stamp }}
                            </div>
                        {% endif %}
                    </span>
                    <input id="{{ field.auto_id }}" name="{{ field.html_name }}" type="checkbox">
                </div>
                {% endfor %}
            {% endfor %}
            <div class="container row-spacing">
                <input class="btn btn-primary btn-lg center-block" type="submit" value="Submit">
            </div>
        </form>
    </div>
    {% endif %}

    <div class="container-fluid">
            <div class="row row-spacing">
                {% if nPlayers < 5 %}
                    <button id="add_button" class="btn btn-info" type="button">Add Player</button>
                {% endif %}
                <a href="{% url 'play_options' %}" class="btn btn-info">Options</a>
                <a href="{% url 'play_summary' %}" class="btn btn-warning">Final Stats Page</a>
            </div>
    </div>
{% endblock %}

{% block footer_block %}
    <!-- Switch -->
    <script src="{% static "js/bootstrap-switch.js" %}"></script>
    <script>$('input:checkbox').bootstrapSwitch();</script>
{% endblock %}