{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block title %} - Game Options{% endblock %}

{% block body_block %}
    <h1>Game Options</h1>

    <form id="category_form" method="post" action="{% url 'play_options' %}">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {% if field.name == "nsfw" %}
                Not Safe For Work:
            {% endif %}
            {% if field.name == "categories" %}
                <h3>Categories</h3>
            {% endif %}
            {% if field.name == "num_players" %}
                Number of players:
            {% endif %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        </br>
        <input type="submit" name="submit" value="Save changes" />
    </form>

    <form action="{% url 'play' %}">
        <input type="submit" value="Back">
    </form>
{% endblock %}