{% extends 'neverever/baseTemplate.html' %}

{% load staticfiles %}

{% block title %} - Statistics{% endblock %}

{% block body_block %}
    <h1>Statistics</h1>
    <h3>Under development</h3>

    {% if globalCounter %}
        <br />Total games: {{ globalCounter.total_sessions }}
        <br />Total number of players: {{ globalCounter.total_players }}
        <br />
    {% endif %}
    <br/>
    <ul class="menu" style="list-style-type:none; margin:0px; padding:0px"> 
        <li id="catlist">Categories - Hover Here
            <ul style="visibility: hidden">
            {% for category in categories %}
                <li class="cat_list_item" style="list-style-type:none; display:inline" data-name="{{category.name}}">{{ category.name }} / </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
    <br/>
<div id="statements">
    {% if statements %}
        <strong>Never have I ever...</strong>
        <br/>
        {% for statement in statements %}
            <span class="single_statement" data-title="{{statement.title}}">
                {{ statement.title }}||
            </span>
        {% endfor %}
    {% endif %}
</div>
<div id="statement_stats">
</div>
    <br><a href="{%  url 'index' %}">Return to main page</a>
{% endblock %}

{% block footer_block %}
    <!-- AJAX -->
    <script src="{% static "js/neverever-stats-ajax.js" %}"></script>
{% endblock %}