html,body {height:100%;}

.btn-ne-main {
  width: 15%;
  min-width: 175px;
  font-size: 18px;
}

.btn-ne-add {
  width: 10%;
  min-width: 150px;
}

h1 {
  font-size: 48pt;
}

.lead {
    padding-bottom: 25px;
}

.row-spacing {
  padding: 10px 0 10px 0;
}

.row-spacing-top {
  padding: 20px 0 5px 0;
}

.label-spacing {
  padding-bottom: 25px;
}

.warning-spacing {
  padding: 20px;
  font-size: 16px;
}

.warning-head {
  font-size: 48px;
}

.new-statement {
  width: 35%;
  min-width: 330px;
}

.add-container {
  width: 50%;
  min-width: 330px;
  margin: 0 auto;
}

.vertical-center {
  min-height: 50%;
  min-height: 50vh;

  display: flex;
  align-items: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
}

.team-img {
    width: 100px;
    height: 133px;
}

.team-text {
    width: 250px;
}