html,body {height:100%;}

.btn-ne-main {
  width: 15%;
  min-width: 175px;
  font-size: 18px;
}

.btn-ne-add {
  width: 10%;
  min-width: 150px;
}

h1 {
  font-size: 48pt;
}

.lead {
    padding-bottom: 20px;
}

.row-spacing {
  padding: 10px 0 30px 0;
}

.row-spacing-top {
  padding: 20px 0 5px 0;
}

.row-spacing-bottom {
  padding: 40px 0 30px 0;
}

.label-spacing {
  padding-bottom: 25px;
}

.warning-spacing {
  padding: 20px;
  font-size: 16px;
}

.warning-head {
  font-size: 48px;
}

.new-statement {
  width: 100%;

}

.add-container {
  width: 50%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}

.vertical-center {
  min-height: 45%;
  min-height: 45vh;

  display: flex;
  align-items: center;
}

.team-box {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    margin: 5px 0;
}

.team-img {
    float: left;
    width: 100px;
    height: 133px;
}

.team-text {
    float:right;
    text-align: left;
    width: 200px;
    padding-top: 30px;
}

#UofGadress {
    padding-top: 15px;
}

#sub-heading h2, h4 {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#sub-heading {
    padding-top: 25px;
    padding-bottom: 10px;
}

.weak-glyph {
    padding-left: 2px;
    font-size: 11px;
    color: #999999;
}