.neverever-box {
  max-width: 700px;
}

.info-box-outer {
    display: inline-block;
    width: 280px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.info-box {
    width: 280px;
    margin: 0 auto;
    paddign: 0px;
}

.info-text {
    display: inline-block;
    width: 90px;
    padding: 2px;
    text-align: right;
}

.info-field {
    display: inline-block;
    padding: 2px;
    width: 150px;
    text-align: left;
}

table {
    margin-top: 20px;
}