<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NeverEver - About</title>
</head>


<body>
    <h1> About NeverEver</h1>
    Lorem ipsum dolor sit amet, ius vitae fuisset cu.
    Pro impetus oblique comprehensam eu, per ad erat vidit. Pri at
    fastidii mediocrem, usu et vero nulla laudem, nec an impetus convenire hendrerit.
    Elitr nobis mediocritatem eu mea, et eirmod equidem inciderint vim. Et sit cibo labore quaerendum,
    eu tollit consulatu nam, vel sale primis ei.

    <br><a href="/">Return to main page</a>

</body>
</html>