{% extends 'neverhaveiever/baseTemplate.html' %}

{% load staticfiles %}

{% block title %} - About{% endblock %}

{% block body_block %}
    {% if categories %}
        <h3>Categories in alphabetical order</h3>
        <ul>
            {% for category in categories %}
                <li><b><a href="/testing/category/{{ category.slug }}">{{ category.name }}</a></b>
                    {%  if category.adult_themed %}
                        (Adult content)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if statements %}
    {% else %}
        <strong>There are no statements present</strong>
    {% endif %}
{% endblock %}