html,body {height:100%;}

.btn-ne-main {
  width: 15%;
  min-width: 175px;
  font-size: 18px;
}

.btn-ne-add {
  width: 10%;
  min-width: 150px;
}

h5,
.h5 {
  font-size: 17px;
}

h1 {
  font-size: 48pt;
}

.lead,h1 {
  color: #ffffff;
}

.row-spacing {
  padding: 10px 0 10px 0;
}

.label-spacing {
  padding-bottom: 25px;
}

.warning-spacing {
  padding: 20px;
  font-size: 16px;
}

.warning-head {
  font-size: 48px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #999999;
  height: 45px;
  background-color: #f5f5f5;
}

.player-name {
  padding-right: 15px;
}

.new-statement {
  width: 35%;
  min-width: 330px;
}

.add-container {
  float: left;
  width: 50%;
  min-width: 330px;
}

.vertical-center {
  min-height: 50%;
  min-height: 50vh;

  display: flex;
  align-items: center;
}