html,body {height:100%;}

.btn-ne-main {
  width: 15%;
  min-width: 175px;
  font-size: 18px;
}

h5,
.h5 {
  font-size: 17px;
}

.row-spacing {
  padding: 10px 0 10px 0;
}

.label-spacing {
  padding-bottom: 25px;
  padding-right: 50px;
}

.warning-spacing {
  padding: 20px;
  font-size: 16px;
}

.warning-head {
  font-size: 48px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.footer-main {
  height: 50px;
  background-color: #f5f5f5;
  padding: 10px;
}

.player-name {
  padding-right: 15px;
}